.double-border {
  position: relative; /* Para criar um contexto de posicionamento */
  border: 1px solid #bb2a2a; /* Primeira borda */
  padding: 20px; /* Espaço interno do elemento */
  background: transparent;
  transition: background-color 0.8s ease;

  :global(html[data-daytime="night"]) & {
    background: var(--skill-card-bg);
  }
}

.double-border::after {
  content: "";
  width: 100%;
  position: absolute;
  top: -10px; /* Ajuste para posicionar a borda externa */
  bottom: 10px;
  left: -10px;
  right: 10px;

  border: 1px solid #bb2a2a; /* Segunda borda */
}
